#index_mainpage {
    padding: 5%;
    height: 100vh;
}

#index_search {
    width: 30%;
    float: left;
}

#main_editor {
    width: 60%;
    float: right;
}

#image_editor {
    width: 30%;
}

#data_editor {
    background-color: red;
    display: flex;
    flex-direction: column;
    gap: 20px;
    float: left;
    width: 50%;
}

#data_edit {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 divs par ligne */
    gap: 20px; /* espace entre les blocs si tu veux */
    padding-top: 5vh;
}

input {
    padding: 1vh 5%;
    width: 100%;
}

.dedit textarea {
    width: 100%;
    padding: 1vh 5%;
    height: 15vh;
}

#descriptions div {
    padding-top: 2.5vh;
}

.game_results {
    position: relative;
    display: flex;
    margin: 1vh 0;
    align-items: center;
    padding: 1vh 1%;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    border-radius: 0 0 50px 0;
}

.game_results:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    position: relative;
    left: 5%;
    cursor: pointer;
}

.game_results::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 70%; /* largeur du dégradé */
    height: 100%;
    background: linear-gradient(to right, rgba(250, 250, 250, 1), rgba(250, 250, 250, 0));
    pointer-events: none;
}


.game_results img {
    width: 20%;
    z-index: 0;
}

.game_results label {
    z-index: 1;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /* contour léger */
    font-weight: 500;
    padding-right: 5%;
}

#header_search {
    display: flex;
    align-items: center;
}

#header_search h2 {
    padding-right: 5%;
}

#game_name {
    color: orange;
    display: inline;
}

#image_preview_div {
    float: left;
    display: inline;
    width: 20%;
    align-items: center;
}

#image_preview_div img {
    width: 100%;
}

#data_game {
    float: right;
    width: 80%;
    padding-left: 2.5%;
    display: inline;
}

#descriptions {
    margin-top: 20%;
    display: block;
}

#buttons_actions button {
    padding: 1vh 5%;
    margin-right: 3%;
    border: 2px solid orange;
    background-color: white;
    color: orange;
}

#buttons_actions button:hover {
    color: white;
    background-color: orange;
    border-color: white;
}

#buttons_actions button:disabled {
    color: gray;
    border-color: gray;
}

#buttons_actions button:disabled:hover {
    color: gray;
    border-color: gray;
    background-color: white;
}

#buttons_actions {
    padding-top: 5vh;
}