@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Luckiest+Guy&family=Quicksand:wght@300..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Luckiest Guy", serif;
    box-sizing: border-box;
}

#spotify_player {
    position: fixed;
    bottom: -2vh;
    right: 2%;
    border: none;
    z-index: 1000;
}
#spotify_player iframe {
    border-radius: 12px;
}

#login_popup {
    position: absolute;
    top: 100%;
    right: 50%;
    width: 200px;
    padding: 15px;
    border-radius: 5px;
    background: white;
    border: 1px solid black;
    z-index: 10;
}

input, textarea {
    font-family: arial; !important;
}

button:hover {
    cursor: pointer !important;
}